body{
    color: rgb(36, 41, 48);
    
}
nav{
    /* background-color: #74D698; */
    background-color: #165A2F;
    font-weight: 400;
    color: rgb(24, 23, 21);
}
nav>ul{
    color: #165A2F !important;

}
nav a{
    /* color: #4d4d4d !important; */
    color: #e0dfdf !important;
}
.about{
    margin: auto;
    min-width: 70vw ;
}