{% extends 'base.html' %}

{% block body %}
<br><br>
<div class="about">
<p>
Contacting the right doctor in a lockdown can get quite hard, going to a clinic or a pharmacy can be dangerous in these times of crisis BUT no worries, we got you solved!
Pythian connects you to specialist doctors from the most trusted hospitals near your location. You can book a health check up after filling in your symptoms.
<br><br>
Depending on the severity of illness, you get suggestions on medicines, health tests in an instant with the high powered search function. These suggestions are provided by the top specialist doctors online across India anytime, anywhere. 
<br><br>
Go and sign yourself up in the easy-to-use Pythian website to get your urgent medical questions solved and keep a proper track of your health. We're proud to be the only app which bring you a hospital/pharmacy at the comfort of your home. We also to deliver to any location in India. What are you waiting for? Head to our website to shop for all your medicines, book online check ups via voice/video calls at the touch of a few buttons.
</p>
</div>
<style>
div.about{
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    width: 60vw;
    margin: auto;
    font-size: 1.7vw;
}
</style>
{% endblock body %}