{% extends 'base.html' %}
{% block body %}

<div>
<ul class="list-group">
  <li class="list-group-item"><b>108</b> Ambulence</li>
  <li class="list-group-item"><b>102</b> Janani Shishu suraksha</li>
  <li class="list-group-item"><b>104</b> Medical Consultances</li>
  <li class="list-group-item"><b>1099</b> Centralized Accident and Trauma services (CATS)</li>
  <li class="list-group-item"><b>1066</b> Anti Poison</li>
  <li class="list-group-item"><b>155224</b> CGHS helpline, Directorate General of Health Services</li>
  <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOther Emergency Numbers</h4>
  <li class="list-group-item"><b>100</b> Police control Room</li>
  <li class="list-group-item"><b>101</b> Fire Control Room</li>
  <li class="list-group-item"><b>1091</b> Women's Control Room/Anti stalkings/Anti-Obscene Cell</li>
  <li class="list-group-item"><b>181</b> ALL India Women's helpline Number</li>
  <li class="list-group-item"><b>1095</b> Traffic Police Helpline</li>

  
</ul>
</div>

{% endblock body %}


